$font-weight-light:                         200 !default;
$font-weight-book:                          350 !default;
$font-weight-normal:                        400 !default;
$font-weight-medium:                        500 !default;
$font-weight-bold:                          700 !default;

.fw-light{
  font-weight: $font-weight-light;
}

.fw-book{
  font-weight: $font-weight-book;
}

.fw-normal{
  font-weight: $font-weight-normal;
}

.fw-medium{
  font-weight: $font-weight-medium;
}

.fw-bold{
  font-weight: $font-weight-bold;
}
