//
// user-variables.scss
// Use this to override Bootstrap and Silicon variables
//

// Example of a variable override to change Silicon background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #f3f6ff;
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";


$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

:root{
  --font-size-base: 2.5rem;
  --border-width-btn: .2666rem;
  @include media-breakpoint-up(sm){
    --font-size-base: 1.8rem;
    --border-width-btn: .15rem;
  }
}

$h1-font-size:                               calc(var(--font-size-base) * 2.5);
$h2-font-size:                               calc(var(--font-size-base) * 2);
$h3-font-size:                               calc(var(--font-size-base) * 1.75);
$h4-font-size:                               calc(var(--font-size-base) * 1.5);
$h5-font-size:                               calc(var(--font-size-base) * 1.25);
$h6-font-size:                               calc(var(--font-size-base));
$h7-font-size:                               calc(var(--font-size-base) * .75);
$h8-font-size:                               calc(var(--font-size-base) * .7);
$h9-font-size:                               calc(var(--font-size-base) * .4);

$font-sizes: (
  1:                                        $h1-font-size,
  2:                                        $h2-font-size,
  3:                                        $h3-font-size,
  4:                                        $h4-font-size,
  5:                                        $h5-font-size,
  6:                                        $h6-font-size,
  7:                                        $h7-font-size,
  8:                                        $h8-font-size,
  9:                                        $h9-font-size,
  "xxl":                                    calc(var(--font-size-base) * 6),
  "xl":                                     calc(var(--font-size-base) * 4),
  "lg":                                     calc(var(--font-size-base) * 2),
  "md":                                     calc(var(--font-size-base) * 1.5),
  "base":                                   calc(var(--font-size-base)),
  "sm":                                     calc(var(--font-size-base) * .8),
  "xs":                                     calc(var(--font-size-base) * .5)
);

$border-widths: (
  1: .05rem,
  2: .15rem,
  3: .2rem,
  4: .25rem,
  5: .35rem,
  "btn": var(--border-width-btn)
);

$mai-color:                         #8c65ff;
$check-color:                       #0271ff;
$mai-green:                         #00f78b;

$custom-colors: (
  "mai": $mai-color,
  "mai-green": $mai-green
);

$theme-colors: map-merge($theme-colors, $custom-colors);
